    <h2>Alla ämnen</h2>
    <h1>{{message}}</h1>
    <table class="table list-table">
        <tr class="table-header">
            <th>
                Namn
            </th>
            <th>
                Beskrivning
            </th>
            <th></th>
        </tr>

        <tr class="table-row" ng-repeat="s in subjects">
            <td>{{s.name}}</td>
            <td>{{s.description}}</td>
            <td><a class="btn btn-xs btn-info" href="#/Edit/{{s.id}}">Ändra</a>
                <a class="btn btn-xs btn-danger" href="#/Edit/{{s.id}}">Ta bort</a>
            </td>
        </tr>
    </table>