<style>
    .expanded {
        transition: 0.2s ease-in-out all;
        opacity: 1;
    }

    .expanded.ng-hide {
        opacity: 0;
    }

    .details {
        transition: 0.2s ease-in-out all;
        opacity: 0;
    }

    .details.show {
        /*transition: 0.2s ease-in-out all;*/
        opacity: 1;
    }

    .selected-row {
        background-color: #eee8ed;
    }
</style>
<div class="row vert-center">
    <div class="col-md-12">
        <h2>Lista uppgifter</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="row" ng-repeat="group in groups">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{group.name}}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="subject in group.subjects" ng-init="subject.expanded = false">
                        <span class="badge">{{subject.assignments.length}}</span>
                        <a href="#/" style="color: darkblue" ng-click="toggle(subject)">
                            {{subject.name}}
                        </a>
                        <ul class="expanded" ng-show="subject.expanded">
                            <li ng-repeat="a in subject.assignments">
                                <a href="#/" style="color: darkblue" ng-click="showDetails(a)">{{a.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 details" ng-show="details">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{details.title}}</h3>
            </div>
            <div class="panel-body">
                <strong class="col-md-4 text-right">Startdatum: </strong> <span class="col-md-8">{{details.date_start | msDate | date: 'shortDate'}}</span>
                <strong class="col-md-4 text-right">Slutdatum: </strong> <span class="col-md-8">{{details.date_end | msDate | date: 'shortDate'}}</span>
                <strong class="col-md-4 text-right">Dagar kvar: </strong> <span class="col-md-8">{{details | dayDiff}}</span>
                <strong class="col-md-4 text-right">Fil: </strong> <span class="col-md-8">
                    <a href="/Upload/Get/{{details.upload_id}}" style="color: darkblue">Ladda ner <span class="glyphicon glyphicon-download"></span></a>
                </span>
                <strong class="col-md-4 text-right">Beskrivning: </strong> <p class="col-md-8">{{details.desc}}</p>
                <div class="col-md-offset-4 col-md-8">
                    <a href="#/" class="btn btn-primary" ng-class="{disabled: !details.submissions.length}" ng-click="showSubmissions()">
                        <span class="badge">{{details.submissions.length}}</span>
                        Inlämningar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submissions" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Inlämningar för: {{details.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr class="table-header">
                                    <th>Student</th>
                                    <th>Datum</th>
                                    <th>Fil</th>
                                    <th>Betygsatt</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row" ng-repeat="s in details.submissions" ng-class="{'selected-row': selectedSub.student.id == s.student.id}">
                                    <td>{{s.student.name}}</td>
                                    <td>{{s.date | msDate | date : 'short'}}</td>
                                    <td><a href="#/" style="color: darkblue">Ladda ner <span class="glyphicon glyphicon-download"></span></a></td>
                                    <td><span class="glyphicon" ng-class="gradeClass(s)"></span>{{gradeString(s)}}</td>
                                    <td>
                                        <a class="btn btn-xs btn-info" href="#/" ng-class="{'disabled': s.grading.id}" ng-click="showGrading(s)">Sätt betyg</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="selectedSub">
                    <div class="col-md-12">
                        <form class="form-horizontal" ng-submit="grade()">
                            <div class="form-group">
                                <label class="control-label col-md-3">Namn:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">{{selectedSub.student.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Betyg:</label>
                                <div class="col-md-9">
                                    <label class="radio-inline"><input type="radio" name="grade" value="1" ng-model="form.grade"><span class="label label-success">Godkänt</span></label>
                                    <label class="radio-inline"><input type="radio" name="grade" value="0" ng-model="form.grade"><span class="label label-danger">Ej godkänt</span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Feedback</label>
                                <div class="col-md-9">
                                    <textarea class="form-control col-md-9" rows="5" ng-model="form.feedback"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-primary" type="submit">Spara</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
                            <strong>{{msg.strong}}</strong> {{msg.text}}
                            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>