<h2>Skapa</h2>
<strong>{{ msg }}</strong>
<form class="form-horizontal" ng-submit="create()" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2" for="title">Titel:</label>
        <div class="col-md-7">
            <input class="form-control" type="text" name="title" ng-model="title" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="title">Beskrivning:</label>
        <div class="col-md-7">
            <textarea class="form-control" rows="5" name="description" ng-model="description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <input type="file" class="" name="file" file-model="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <button class="btn btn-primary" type="submit">Skapa</button>
        </div>
    </div>
</form>