<style>
    .expanded {
        transition: 0.2s ease-in-out all;
        opacity: 1;
    }
    .expanded.ng-hide {
        opacity: 0;
    }
    .details {
        transition: 0.2s ease-in-out all;
        opacity: 0;
    }
    .details.show {
        /*transition: 0.2s ease-in-out all;*/
        opacity: 1;
    }
</style>
<div class="row vert-center">
    <div class="col-md-3">
        <h2>Lista uppgifter</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="row" ng-repeat="group in groups">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{group.name}}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="subject in group.subjects" ng-init="subject.expanded = false">
                        <span class="badge">{{subject.assignments.length}}</span>
                        <a href="#/" style="color: darkblue" ng-click="toggle(subject)">
                            {{subject.name}}
                        </a>
                        <ul class="expanded" ng-show="subject.expanded">
                            <li ng-repeat="a in subject.assignments">
                                <a href="#/" style="color: darkblue" ng-click="showDetails(a)">{{a.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 details" ng-show="details">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{details.title}}</h3>
            </div>
            <div class="panel-body">
                <strong class="col-md-4 text-right">Startdatum: </strong> <span class="col-md-8">{{details.date_start | msDate | date: 'shortDate'}}</span>
                <strong class="col-md-4 text-right">Slutdatum: </strong> <span class="col-md-8">{{details.date_end | msDate | date: 'shortDate'}}</span>
                <strong class="col-md-4 text-right">Dagar kvar: </strong> <span class="col-md-8">{{details | dayDiff}}</span>
                <strong class="col-md-4 text-right">Beskrivning: </strong> <p class="col-md-8">{{details.desc}}</p>
                <div class="col-md-offset-4 col-md-8">
                    <a href="#/" class="btn btn-primary" ng-class="{disabled: !details.submissions.length}" ng-click="showSubmissions()">
                        <span class="badge">{{details.submissions.length}}</span>
                        Inlämningar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submissions" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Inlämningar för: {{details.title}}</h4>
            </div>
            <div class="modal-body">
                body
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" ng-click="showForm = false">
                        <span class="glyphicon glyphicon-chevron-left"></span> Lista
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="showForm = true">
                        <span class="glyphicon glyphicon-plus"></span> Lägg till
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>