<div class="row vert-center">
    <div class="col-md-3">
        <h2>Skapa klass</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<hr />
<form class="form-horizontal" ng-submit="create()" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Namn:</label>
        <div class="col-md-7">
            <input class="form-control" type="text" name="name" ng-model="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="title">Klasslärare:</label>
        <div class="col-md-7">
            <select class="form-control" name="teacher" ng-model="teacherId">
                <option ng-repeat="t in teachers" value="{{t.id}}">{{t.fname}} {{t.lname}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <button class="btn btn-primary" type="submit">Skapa</button>
        </div>
    </div>
</form>