<h2>Ändra klass</h2>
<hr />
<div class="alert alert-{{msg.type}}" ng-show="msg"><strong>{{msg.strong}}</strong> {{msg.text}}</div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Namn:</label>
        <div class="col-md-7">
            <input class="form-control" type="text" name="name" ng-model="details.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="title">Klasslärare:</label>
        <div class="col-md-7">
            <select class="form-control" name="teacher" ng-model="details.teacher_id" ng-options="t.id as (t.fname+' '+t.lname) for t in teachers">
                <!--<option ng-repeat="t in teachers" value="{{t.id}}">{{t.fname}} {{t.lname}}</option>-->
            </select>
        </div>
    </div>
</form>
<div class="row vert-center">
    <div class="col-md-5 col-xs-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Klassuppsättning</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <select id="used" class="group-box" multiple="multiple">
                    <option ng-repeat="s in details.students" value="{{s.id}}" ng-click="clearList('#free')">{{s.fname}} {{s.lname}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-2">
        <button class="btn btn-default center-block" type="button" ng-click="transfer('#used', '#free')">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-default center-block" type="button" ng-click="transfer('#free', '#used')">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>
    <div class="col-md-5 col-xs-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Elever utan klass</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <select id="free" class="group-box center-block" multiple="multiple">
                    <option ng-repeat="s in freeStudents" value="{{s.id}}" ng-click="clearList('#used')">{{s.fname}} {{s.lname}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-9">
        <button class="btn btn-primary" ng-click="save()">Spara</button>
    </div>
</div>
