<h2>Lista klasser</h2>
<hr/>
<table class="table">
    <thead>
        <tr class="table-header">
            <th>Namn</th>
            <th>Klasslärare</th>
            <th>Elever</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-row" ng-repeat="g in groups">
            <td>{{g.name}}</td>
            <td>{{g.teacher_name}}</td>
            <td>{{g.students}}</td>
            <td>
                <a class="btn btn-xs btn-info" href="#/Edit/{{g.id}}">Ändra</a>
                <a class="btn btn-xs btn-danger" href="#/Delete/{{g.id}}">Ta bort</a>
            </td>
        </tr>
    </tbody>
</table>