<div class="row vert-center">
    <div class="col-md-3">
        <h2>Ändra</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<hr />
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Namn:</label>
        <div class="col-md-7">
            <input class="form-control" type="text" name="name" ng-model="details.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="title">Klasslärare:</label>
        <div class="col-md-7">
            <select class="form-control" name="teacher" ng-model="details.teacher_id" ng-options="t.id as (t.fname+' '+t.lname) for t in teachers"></select>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Klassämnen</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <select class="form-control" ng-model="form.sub" ng-options="s as s.name for s in subjects"></select>
                        </div>
                        <button class="btn btn-primary" ng-click="addSub()">Lägg till <span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </form>
                <hr />
                <ul id="subjects" class="list-inline">
                    <li ng-repeat="sub in details.subjects" data-sub-id="{{sub.id}}"><button class="btn btn-default" ng-click="delSub(sub.id)">{{sub.name}} <span class="glyphicon glyphicon-remove"></span></button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row vert-center">
    <div class="col-md-5 col-xs-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Klassuppsättning</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <select id="used" class="group-box" multiple="multiple">
                    <option ng-repeat="s in details.students" value="{{s.id}}" ng-click="clearList('#free')">{{s.fname}} {{s.lname}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-2">
        <button class="btn btn-default center-block" type="button" ng-click="transfer('#used', '#free')">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-default center-block" type="button" ng-click="transfer('#free', '#used')">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>
    <div class="col-md-5 col-xs-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Elever utan klass</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <select id="free" class="group-box center-block" multiple="multiple">
                    <option ng-repeat="s in freeStudents" value="{{s.id}}" ng-click="clearList('#used')">{{s.fname}} {{s.lname}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <button class="btn btn-primary" ng-click="save()">Spara</button>
    </div>
</div>
