<h2>Klasser</h2>

<table class="table-condensed table-striped">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Elever</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="g in groups">
            <td>{{g.name}}</td>
            <td>{{g.students}}</td>
            <td><a class="btn btn-xs btn-info" href="#/Edit/{{g.id}}">Ändra</a></td>
            <td><a class="btn btn-xs btn-danger" href="#/Delete/{{g.id}}">Ta bort</a></td>
        </tr>
    </tbody>
</table>