<div class="row vert-center">
    <div class="col-md-3">
        <h2>Lista</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr class="table-header">
            <th>Namn</th>
            <th>Klasslärare</th>
            <th>Elever</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-row" ng-repeat="g in groups">
            <td>{{g.name}}</td>
            <td>{{g.teacher_name}}</td>
            <td>{{g.students}}</td>
            <td>
                <a class="btn btn-xs btn-info" href="#/Edit/{{g.id}}">Ändra</a>
                <a class="btn btn-xs btn-danger" href="#/" ng-click="delete(g.id)">Ta bort</a>
            </td>
        </tr>
    </tbody>
</table>