@model LMS.Models.AppUser

<div class="header header-logo">LMS</div>
@{var login = true;}
@if (login)
{
    <div class="login-holder">
        <div class="login-name">Inloggad som: Pernilla Svedberg</div>
        <div class="login-link">Logga ut</div>
        <div class="clear">&nbsp;</div>
    </div>
}
else
{
    <div class="login-holder">
        <div class="login-link">Logga in</div>
    </div>
}

<div class="clear">&nbsp;</div>