<div class="row vert-center">
    <div class="col-md-4">
        <h2>Uppgifter</h2>
    </div>
    <div class="col-md-8">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <strong>{{ message }}</strong>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <p>Lista uppgifter.....filtrera</p>
    </div>
</div>
<table id="current-tasks" class="table list-table" ng-repeat="subject in subjects">
    <thead>
        <tr class="table-role">
            <td><h3>{{subject.name}}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-header">
            <td>Titel</td>
            <td>Ansvarig lärare</td>
            <td>Startdatum</td>
            <td>Slutdatum</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row" ng-repeat="task in subject.tasks | orderBy:'DateEnd'">
            <td>{{task.name}}</td>
            <td>{{task.teacher_name}}</td>
            <td>{{task.dateStart}}</td>
            <td>{{task.dateEnd}}</td>
            <td>
                <a class="btn btn-xs btn-info" href="#/Details/{{task.id}}">Visa</a>
            </td>
        </tr>
    </tbody>
</table>
<table id="submitted-tasks" class="table list-table" ng-repeat="subject in subjects">
    <thead>
        <tr class="table-role">
            <td><h3>{{subject.name}}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-header">
            <td>Titel</td>
            <td>Ansvarig lärare</td>
            <td>Inlämnad datum</td>
            <td>Betyg</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr class="table-row" ng-repeat="task in subject.tasks | orderBy:'DateEnd'">
            <td>{{task.name}}</td>
            <td>{{task.teacher_name}}</td>
            <td>{{task.dateSubmit}}</td>
            <td>{{task.grade}}</td>
            <td>
                <a class="btn btn-xs btn-info" href="#/Details/{{task.id}}">Visa</a>
            </td>
        </tr>
    </tbody>
</table>