<div class="row vert-center">
    <div class="col-md-4">
        <h2>Studentportal</h2>
    </div>
    <div class="col-md-8">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <strong>{{ message }}</strong>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <p>Visa schema som startvy.....</p>
    </div>
</div>