<div class="row vert-center">
    <div class="col-md-3">
        <h2>Studentportal</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <p>Studentportal.....</p>
    </div>
</div>