<div class="row vert-center">
    <div class="col-md-5">
        <h2>Inlämnade uppgifter</h2>
    </div>
    <div class="col-md-7">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <strong>{{ message }}</strong>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <form>
            <div class="form-group">
                <label class="control-label">Visa betygsatta</label>
                <input type="checkbox" ng-model="onlyGraded">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <p>Här ser du alla dina inlämnade uppgifter.</p>
    </div>
    <table id="current-tasks" class="table list-table">
        <thead>
            <!--<tr class="table-role">
                <td><h3></h3></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>-->
            <tr class="table-header">
                <td>Titel</td>
                <td>Ämne</td>
                <td>Inlämnad datum</td>
                <td>Betyg</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" ng-repeat="sub in submissions | filter:gradeFilter(onlyGraded)">
                <td>{{sub.assignment.title}}</td>
                <td>{{sub.assignment.subject}}</td>
                <td>{{sub.submit_date | msDate | date: 'shortDate'}}</td>
                <td><span class="glyphicon" ng-class="gradeClass(sub)"></span>{{gradeString(sub)}}</td>
                <td>
                    <a class="btn btn-xs btn-info" ng-click="details(a)" href="#/Details/{{a.id}}">Visa</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

