@using LMS;

<ul class="level1">
    <li @Html.IsActive("Teacher/Subject/List", "class=\"active\"")>
        @Html.ActionLink("Lista alla ämnen", "Subject", "Teacher", new { section = "List" }, null)
    </li>
    <li @Html.IsActive("Teacher/Subject/Create", "class=\"active\"")>
        @Html.ActionLink("Skapa ämne", "Subject", "Teacher", new { section = "Create" }, null)
    </li>
</ul>
