
@{
    ViewBag.Title = "Index Elevportal";
}

@section scripts {
    <script src="~/App/Student/studentApp.js"></script>
}

<div class="row" ng-app="student">
    <div class="col-md-3">
        <div id="sub-menu">
            <ul>
                <li><a href="#/">Schema</a></li>
                <li><a href="#/Group">Klasslista</a></li>
                @*<li><a href="#/Shared">Delade filer</a></li>*@
                <li><a href="#/Task">Inlämningsuppgifter</a></li>
                <li><a href="#/Submissions">Inlämnade uppgifter</a></li>
                <li><a href="#/Profile">Ändra lösenord</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-view></div>
    </div>
</div>