@{
    ViewBag.Title = "Group";
}

@section scripts {
    <script src="~/App/Teacher/Group/groupApp.js"></script>
}

<div class="row" ng-app="group" ng-controller="indexCtrl">
    <div class="col-md-3">
        <div id="sub-menu">
            <ul>
                <li><a href="#/">Lista klasser</a></li>
                <li><a href="#/Create">Skapa klass</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-view></div>
    </div>
</div>

