@{
    ViewBag.Title = "Schedule";
}

@section scripts {
    <script src="~/App/Teacher/Schedule/scheduleApp.js"></script>
    @*<script>
        $('#dateStart').datepicker();
    </script>*@
}

<div class="row" ng-app="schedule">
    <div class="col-md-3">
        <div id="sub-menu">
            <ul>
                <li><a href="#/">Meny 1</a></li>
                <li><a href="#/">Meny 2</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-view></div>
        @*<form>
            Datum: <input type="date" id="dateStart" />
        </form>*@
    </div>
</div>