
@{
    ViewBag.Title = "Task";
}

@section scripts {
    <script src="~/App/Teacher/Task/taskModule.js"></script>
    <script src="~/App/Teacher/Task/taskIndexCtrl.js"></script>
    <script src="~/App/Teacher/Task/taskTestCtrl.js"></script>
}

<div class="row" ng-app="task" ng-controller="taskIndexCtrl">
    <div class="col-md-3">
        <div id="sub-menu">
			<ul>
				<li><a href="#">Index</a></li>
				<li><a href="#/Test">Test</a></li>
			</ul>
		</div>
    </div>
    <div class="col-md-6">
        <h2>Task</h2>
        <p>{{ message }}</p>
        <div ng-view></div>
    </div>
    <div class="col-md-3">Höger sidospalt</div>
</div>

