
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="container">
        <div class="jumbotron"></div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1>Learning Management System</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie molestie purus vitae maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h2>Skolan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie molestie purus vitae maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus, nulla a faucibus lobortis, mauris elit lobortis nisl, ut tincidunt felis elit sit amet ligula. Sed mauris nibh, placerat nec elementum sit amet, sodales sit amet massa.</p>
        </div>  
        <div class="col-md-4">
            <h2>Studenter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie molestie purus vitae maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus, nulla a faucibus lobortis, mauris elit lobortis nisl, ut tincidunt felis elit sit amet ligula. Sed mauris nibh, placerat nec elementum sit amet, sodales sit amet massa.</p>
        </div>
        <div class="col-md-4">
            <h2>Lärare</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie molestie purus vitae maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus, nulla a faucibus lobortis, mauris elit lobortis nisl, ut tincidunt felis elit sit amet ligula. Sed mauris nibh, placerat nec elementum sit amet, sodales sit amet massa.</p>
        </div>     
    </div>
</div>