@model IEnumerable<LMS.Models.Subject>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-3">
        <div id="sub-menu">
            Teacher/Subject/Menu
        </div>
    </div>
    <div class="col-md-6">
        <h2>Index/Ämne</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut diam id tellus semper tristique. Maecenas non lectus est. Duis pellentesque efficitur erat et tristique. Ut vel elit ac ligula placerat ullamcorper ut nec turpis. Maecenas pharetra vitae sapien ac aliquam. Donec turpis nisi, vehicula nec pulvinar sit amet, blandit vel odio. Quisque euismod lorem nulla, vitae ornare turpis tincidunt a. Suspendisse vel tellus neque. Proin facilisis convallis sodales. Duis eget ex at arcu posuere malesuada vitae id ante. Vivamus auctor vitae enim ut euismod. Pellentesque finibus commodo velit, id finibus urna cursus quis. Praesent dignissim nisi a nunc volutpat, fringilla dapibus tortor sodales. Etiam convallis elit non bibendum malesuada.</p>
    </div>
    <div class="col-md-3">Höger sidospalt</div>
</div>