<div class="row vert-center">
    <div class="col-md-12">
        <h2>Visa schema</h2>
    </div>
</div>
<hr />
<style>
    ul.tree li {
        /*margin-left: 4em;*/
        list-style: disc;
    }
    ul.tree-days li {
        /*margin-left: 2em;*/
        list-style: circle;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{schedTree.name}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="st in schedTree.tree">
                    <strong>{{st.month | monthName}}</strong>
                    <ul class="list-group tree">
                        <li class="list-group-item" ng-repeat="d in st.days">
                            {{d.day}}
                            <ul class="list-group tree-days">
                                <li class="list-group-item" ng-repeat="s in d.schedules">
                                    <span class="col-md-1 label label-{{s.type | schedTypeLabel}}">{{s.type | schedTypeName}}</span>
                                    <span>
                                        {{s.date_start | msDate | date:'hh:mm'}} - {{s.date_end | msDate | date:'hh:mm'}}
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    {{s.description}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
