<style>
    #cal thead th {
        text-align: center;
    }

    #cal tbody td {
        text-align: center;
        border: 1px solid #ddd;
    }

        #cal tbody td:hover {
            background-color: #eee8ed;
            cursor: pointer;
        }

    #cal tbody {
        transition: 0.5s ease-in-out all;
        opacity: 0;
    }

        #cal tbody.added {
            opacity: 1;
        }

    #cal {
        transition: 0.3s ease all;
        transform: translateX(0) scale(1.0, 1.0);
    }

        #cal.go-right {
            transform-origin: top;
            position: absolute;
            transform: translate(-100px, -25%) scale(0.3, 0.5);
        }

    .sched_1 {
        background-color: lightgreen;
    }

    .sched_2 {
        background-color: lightpink;
    }

    .sched_3 {
        background-color: lightblue;
    }

    .info-box {
        transition: 0.5s ease all;
    }

    .view-info {
        opacity: 1;
        background-color: #eee;
    }

    .view-slide.ng-enter,
    .view-slide.ng-leave {
        transition: 0.5s ease all;
        opacity: 0;
    }

    .view-slide.ng-enter-active,
    .view-slide.ng-leave {
        opacity: 1;
    }

    .view-slide.ng-leave-active {
        opacity: 0;
    }
</style>
<script>

</script>
<div class="row vert-center">
    <div class="col-md-3">
        <h2>Schema</h2>
    </div>
    <div class="col-md-9">
        <div class="alert alert-{{msg.type}} alert-dismissible" ng-show="msg">
            <strong>{{msg.strong}}</strong> {{msg.text}}
            <button type="button" class="close" aria-label="Close" ng-click="msg = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table id="cal" class="table" ng-class="{'go-rightx': selectedDay}">
            <thead>
                <tr>
                    <th colspan="7">
                        <button class="btn btn-xs btn-default" type="button" ng-click="addMonth(-1)">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <span style="width: 10em; display: inline-block">
                            <strong>{{monthName}} 2016</strong>
                        </span>
                        <button class="btn btn-xs btn-default" type="button" ng-click="addMonth(1)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </th>
                </tr>
                <tr class="table-header">
                    <th class="col-md-1">Söndag</th>
                    <th class="col-md-1">Måndag</th>
                    <th class="col-md-1">Tisdag</th>
                    <th class="col-md-1">Onsdag</th>
                    <th class="col-md-1">Torsdag</th>
                    <th class="col-md-1">Fredag</th>
                    <th class="col-md-1">Lördag</th>
                </tr>
            </thead>
            <tbody data-schedule="curMonth" data-first="firstDay" data-limit="numDays" data-click="foo" data-refresh="refresh"></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="details" tabindex="-1" ng-init="view = '/App/Teacher/Schedule/Views/_Details.html'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Händelser för: {{selectedDay}} {{monthName}}</h4>
            </div>
            <div class="modal-body view-slide" ng-include="view"></div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" ng-click="view = '/App/Teacher/Schedule/Views/_Details.html'">
                        <span class="glyphicon glyphicon-chevron-left"></span> Lista
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="view = '/App/Teacher/Schedule/Views/_Form.html'">
                        <span class="glyphicon glyphicon-plus"></span> Lägg till
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>