<div class="row vert-center">
    <div class="col-md-12">
        <h2>Visa schema</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{schedTree.name}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="st in schedTree.tree">
                    {{st.month | monthName}}
                    <ul class="tree">
                        <li ng-repeat="d in st.days">
                            {{d.day}}
                            <ul class="tree">
                                <li ng-repeat="s in d.schedules">
                                    <span>
                                        {{s.date_start | msDate | date:'hh:mm'}} - {{s.date_end | msDate | date:'hh:mm'}}
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    <span class="label label-{{s.type | schedTypeLabel}}">{{s.type | schedTypeName}}</span>
                                    {{s.description}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
