@{
    ViewBag.Title = "FileManager";
}

@section scripts {
    <script src="~/App/FileManager/fileManagerApp.js"></script>
}

<div class="row" ng-app="fileManager" ng-controller="fileManagerCtrl">
    <div class="col-md-3">
        <div id="sub-menu">
            <ul>
                <li ng-repeat="dir in dirs"><a href="#" expand-tree="{{ dir }}">{{ dir.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-view></div>
    </div>
</div>

