@import url('bootstrap.css');
body {
    font-family: 'Arimo', sans-serif;
    font-size:1.5em;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** Jumbotron **/

.jumbotron {
    width:100%;
    height:420px;
    background:url('/Content/Images/jumbotron-image3.jpg') no-repeat center center;
}
@media all and (max-width: 700px)
{
    .jumbotron
    {
        height: 150px;
    }
}
@media all and (max-width: 390px)
{
    .jumbotron
    {
        height: 0px;
        margin:0;
        padding:0;
    }
}

/* HEADING */
h1 {
    font-weight:bold;
}
/* Links */

a {
    color:#eee8ed;
}
.clear {clear:both;height:1px;overflow:hidden}
/*Content*/
.left-col {}

/* Ändrar färg på temat */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ccc;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}
  .navbar-default {
    background-color: #462040; /*#0f006f*/
    border-color: #140912; /*#030033*/
}


  /*.dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  (change color of links in drop down here)
   }*/

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }


/* BUTTON */

.btn-primary,
.btn-info {
    background: #462040;
    color: #ffffff;
}
.btn-info {
    border-color:#462040;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: #7d3f73;
    border-color:#462040;
}
 
.btn-primary:active, .btn-primary.active {
    background: #5D3241;
    box-shadow: none;
}


/* HEADER */
.header {position:relative;}
.header-background-color {
    background-color:#eee8ed;
    margin:0;
    padding-top:10px;
}
.header-logo-holder {
    padding-right:15px;
}
.header-logo {
    font-family: 'Cinzel Decorative', cursive;
    font-weight:700; /* 700 or 900*/
    color:#462040;
    position:relative;
    float:left;
    height:50px;
    width:300px;
    font-size:60px;
    margin-right:0px;
    padding:0;
}
.login-holder {
    float:right;
}
/* MAIN MENU */

.main-menu-holder {
    float:right;
    bottom:-1px;
}
.login-name {
    margin-bottom:5px;
}
.login-name,
.login-link {
    text-align:right;
}
.login-link a {
    color:#7d3f73;
    text-decoration:none;
    padding:5px;
}
.login-link a:hover {
    color:#ccc;
    background-color:#462040;
    border-radius:4px;
}

#main-menu {margin-bottom:-1px;}

#main-menu li {
    display:block;
    float:left;
    padding-right:1px;
    border: 1px solid #e7e7e7;
    background-color:#7d3f73;
    border-radius: 10px 10px 0 0;
}
#main-menu li:last-child {
     padding-right:0px;
 }
#main-menu.nav>li>a {
    padding:8px 15px 2px 15px;
}
#main-menu.nav > li > a:hover {
    background-color:#462040;
    color:#fff;
}

#main-menu.nav > li > a:hover {
    border-radius:10px 10px 0 0;
}
/* SUB MENU */
#sub-menu {}
#sub-menu ul li {
    background-color:#eaeaea;
    margin-bottom:4px;
    padding:6px;
}
#sub-menu ul li a {
    color:#808080;
}
#sub-menu ul li a:hover,
#sub-menu ul li.active a {
    color:#000;
    text-decoration:none;
}

#sub-menu ul li.active,
#sub-menu ul li:hover {
    background-color:#ccc;
}

/* LIST view */
.list-table th {
    font-weight:bold;
}

.vert-center {
    display: flex;
    align-items: center;
}

.group-box {
    width: 100%;
    padding: 5px;
    min-height: 15em;
    max-width: none;
}/* Table */
.table-header {
    background-color: #7d3f73;
    color:#fff;
}
.table-role {
    text-transform:uppercase;
}
tr.table-row:hover {
    background-color: #eee8ed;
    color:#000;
}
/*tr:nth-child(even) {background-color: #eee8ed}*/


.alert {
  transition: 0.5s ease-in-out all;
  margin: 0;
}

.alert.ng-hide {
    display: block !important;
    visibility: hidden !important;
}

.panel-primary {
    border-color: #462040;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #462040;
    border-color: #462040;
}

.panel-info > .panel-heading {
    color: #fff;
    background-color: #7d3f73;
    border-color: #7d3f73;
}